<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.79.0">
  <title>Signin Template · Bootstrap v5.0</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">

  <!-- Font Awesome -->
  <!-- Free CDN soon to be deprecated -->
  <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous"> -->
  <script src="https://kit.fontawesome.com/8a610e6538.js" crossorigin="anonymous"></script>



  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <style>
    .fa {
      padding: 20px;
      font-size: 30px;
      width: 75px;
      text-align: center;
      text-decoration: none;
      margin: 5px 2px;
    }

    .fa:hover {
      opacity: 0.7;
    }

    .fa-facebook {
      background: #3B5998;
      color: white;
    }

    .fa-twitter {
      background: #55ACEE;
      color: white;
    }

    .fa-google {
      background: #dd4b39;
      color: white;
    }

    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>


  <!-- Custom styles for this template -->
  <link href="css/signin.css" rel="stylesheet">
  <link rel="stylesheet" href="css/bootstrap-social.css">
</head>

<body class="text-center">

  <main class="form-signin">
  <form action="/login" method="POST">
    <!-- <h1>shawnrowley.io</h1> -->
    <h1 class="title-site h3 mb-4 fw-normal">shawnrowley.io</h1>
    <img class="mb-4" src="images/avatar-cover.png" alt="" width="125" height="125">
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" name="username" required autofocus>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
    <!-- <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div> -->
    <button class="w-100 btn btn-lg btn-secondary" type="submit">Sign in</button>
    <div class="register">
      <label for="">No Account?</label>
      <a href="/register">Register</a>
    </div>

    <div class="social">
      <a class="btn btn-social btn-google" href="/auth/google" role="button">
        <i class="fab fa-google"></i>
        Sign In with Google
      </a>
    </div>
    <!-- <div class="social">
      <a class="btn btn-social btn-github" href="/auth/github" role="button">
        <i class="fab fa-github"></i>
        Sign In with Github
      </a>
    </div> -->
    <!-- </div> -->
    <!-- <p class="mt-5 mb-3 text-muted">&copy; 2017-2021</p> -->
  </form>
</main>



</body>

</html>
