body {
  background-color: grey !important;
}

#site {
  border: 1px solid #000000;
  margin: 25px;
}

/* Sections */

.color-section {
  background-color: #000000;
}

.off-color-section {
  background-color: #FFFFFF;
}

/* Title Section */

#title {
  color : white;
}

.title-theme {
  padding-left: 250px;
}

.avatar {
  border-radius: 50%;
}

.navbar {
  margin-bottom: 50px;
}

.carousel-item {
  text-align: center;
  padding: 200px 50px;
}

.col-lg-2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Me Section */

#me {
  padding: 2% 15%;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.feature-header {
  font-weight: bold;
}

.me-header {
  text-align: center;
}

.me-icon {
  color: grey;
  display: block;
  margin-bottom: 15px;
}

.me-icon:hover {
  color: #333333;
}

/* Experience Section */

#experience {
  padding: 1% 5% 2%;
}

.experience-header {
  text-align: center;
  color: grey;
  /* padding-top: 1%; */
}

.experience-btn {
  font-family: 'Montserrat', sans-serif;
  color: #555555;
  text-decoration: none;
}

.accordion {
  padding: 1% 0 1%;
}

.resume-btn {
  padding-left: 15% !important;
  padding-right: 15% !important;
}

/* Skills Section  */

#skills {
  padding: 1% 2% 1%;
}

.skill-header {
  text-align: center;
  padding-top: 1%;
}

.skill-box {
  text-align: center;
  margin: 0;
  padding: 3%;
}

.skill-box img {
  width : 25%;
  height : auto;
}

.skill-icon {
  font-size: 4rem;
}

.ui-dialog-title{
    font-size: 10px !important;
}

/* Project Section */

#projects {
  padding: 1%;;
}

.projects-header {
  text-align: center;
  color: grey;
}

.project-row {
  /* margin-left: 15px !important;
  margin-right: 15px !important; */
}

.project-title {
  font-weight: bold !important;
}

.project-column {
   font-family: 'Montserrat', sans-serif;
   padding: 2% 3%;
   text-align: center;
}

/* Contact Section */

#contact {
  text-align: center;
  padding: 2%;
}

.contact-header {
  text-align: center;
  padding-bottom: 1%;
}

.contact-icon {
  padding: 2%;
  text-decoration: none;
}

.contact-icon:hover {
  /* color: lightslategray; */
}

.contact-link {
  text-decoration: none;
}

.footer-copyright {
   padding: 2%;
}

.footer-hosted {
   padding-top: 2%;
}
